a {
  color: inherit;
}

main {
  font-family: helvetica, arial, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.all-restaurants {
    display: inline-block;
    border: 1px solid #FFC107;
    width: 30%;
    position: relative;
    height: 18rem;
    margin: 1.3%;
    border-radius: 10px;
}

.restaurant-info {
  background-color: rgba(100,100,100,0.5);
  position: absolute;
  top: 1.8rem;
  line-height: 1.5rem;
  color: white;
  width: 100%;
  text-align: center;
}

.hero-title {
    position: absolute;
    top: 35%;
    /* left: 12%; */
    color: red;
    background-color: rgba(39, 33, 33, 0.31);
    font-size: 5rem;
    padding-left: 6rem;
    width: 100%;
    font-weight: bold;
    font-family: 'Caveat Brush', cursive;
}

.hero-image {
    position: relative;
}

.restaurant-name {
  font-family: 'Sansita';
  font-size: 2rem;
  font-weight: 300;
}

.restaurant-price {
  color: red;
}

.all-restaurants img {
    border-radius: 10px;
}
