
Reservation successfully created! <br> <br>

<div class="reservation-container">
You have a reservation at <%= @reservation.reserved_restaurant.name %> for <%= @reservation.party_size %> people between <%= @reservation.timeslot %> pm. <br> <br>
We hope you enjoy your meal!
</div>
