// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant_top_image {
    width: 100%;
}

.restaurant_image_container {
    width:  48%;
    display:  inline-block;
}

.restaurant_details_container {
    width:  51.25%;
    display:  inline-block;
    height: 100%;
}

.restaurant_details_header {
  width: 100%;
}

.restaurant_title {
  width: 70%;
  display: inline-block;

}

.restaurant_attributes {
  width: 28%;
  display: inline-block;
  text-align: right;
}

.restaurant_container {
  border: solid 1px black;
}

.restaurant_details_footer{
  text-align: center;
}

.restaurant_details_summary{
  text-align: center;
  font-size: 30px;
}

.date_container {
  width: 48%;
  display: inline-block;
  border-right: 1px solid black;
}

.chosen_date {
  display: inline-block;
  width: 33%;
}

.select_date {
  display: inline-block;
  width: 65%;
}

h1 {
  margin: 0;
  font-size: 40px;
}

.timeslots{
  margin-left: 25%;
}

.date_header_container{
  text-align: center;
}

.reservation{
  width: 48%;
  display: inline-block;
  text-align: center;
}

h2{
  margin: 0;
}

.available{
  border: 1px solid black;
}
